.button {
  transition: all 0.3s ease-out;
}

.about_text, .promo_text, .logo_subtitle, .navigation_element {
  font-family: "Arial", sans-serif;
}

.carousel_title, .promo_title, .logo_title, .section_title, .arrow_bordered__inactive, .arrow_bordered, .arrow, .button {
  font-family: "Georgia", sans-serif;
}

.button {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px 15px 45px;
  border-radius: 100px;
  cursor: pointer;
}
.button_bordered {
  background: #FAFAFA;
  border: 2px solid #F1CDB3;
}
.button_bordered:hover {
  background: #F1CDB3;
}
.button_colored {
  background: #F1CDB3;
  color: #292929;
  border: none;
}
.button_colored:hover {
  background: #FDDCC4;
}

.arrow {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0;
  padding: 23px 19px 23px 19px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  height: 52px;
  width: 52px;
}
.arrow_bordered {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  padding: 23px 19px 23px 19px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  height: 52px;
  width: 52px;
  background: #FAFAFA;
  border: 2px solid #F1CDB3;
  align-items: center;
}
.arrow_bordered:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}
.arrow_bordered__inactive {
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  padding: 23px 19px 23px 19px;
  border-radius: 100px;
  cursor: default;
  transition: all 0.3s;
  height: 52px;
  width: 52px;
  background: #FAFAFA;
  border: 2px solid #CDCDCD;
  align-items: center;
}

.prev {
  margin-top: 191px;
  margin-right: 53px;
}

.next {
  margin-top: 191px;
  margin-left: 53px;
}

body {
  margin: 0;
}

.section_title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.top_layout {
  background-image: url("/assets/images/start-screen-gradient-background.png");
  background-position: center;
  background-size: cover;
  height: 908px;
}

.header_inner {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation_inner {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
}
.navigation_element {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: #CDCDCD;
}

.logo_title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0;
  padding-bottom: 10px;
}
.logo_subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.not-only {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  gap: 42px;
}

.promo {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 322px;
}
.promo_title {
  margin: 0;
  padding-top: 163px;
  align-items: center;
  width: 310px;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  letter-spacing: 0;
  color: #FFFFFF;
}
.promo_text {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: #CDCDCD;
  width: 460px;
}
.promo_image {
  height: 728px;
  margin-right: 40px;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  margin-top: 80px;
  margin-bottom: 100px;
}
.about_pets {
  height: 408px;
  display: flex;
  flex-direction: row;
  gap: 120px;
}
.about_inner {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 380px;
  margin-top: 14px;
}
.about_text {
  margin: 0;
  padding-top: 25px;
  width: 430px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  color: #545454;
}

.section_container {
  width: 370px;
}

.our_friends-bckgrnd {
  background: #F6F6F6;
  height: 877px;
}

.our-friends_inner {
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.section_title-container {
  width: 400px;
  height: 90px;
  text-align: center;
  margin-top: 80px;
}

.carousel {
  display: flex;
  flex-direction: row;
  gap: 90px;
}
.carousel_box {
  display: flex;
  flex-direction: row;
}
.carousel_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 435px;
}
.carousel_title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

.margin {
  margin: 0 40px 0;
}

/*# sourceMappingURL=style.css.map */
