$color-primary: #F1CDB3;
$color-primary-light:#FDDCC4;
$color-background: #F6F6F6;
$color-background-overlay: rgba(41, 41, 41, 0.6);
$color-background-pets: #F6F6F6;
$color-text: #4C4C4C;
$color-heading: #545454;
$color-heading__modal: #000000;
$color-light: #FAFAFA;
$color-button: #292929;
$color-background-back: #513D2F;
$color-background-h2: #FFFFFF;
$color-background-text: #CDCDCD;
$color-background-text-card: #B2B2B2;
$color-background-burger-pets: #9a9490;


$content-width: 1280px;
$tablet-width: 768px;
$mobile-big-width: 375px;
$mobile-small-width: 320px;
