@mixin font ($size, $height, $style: normal, $weight: 400, $letter-spacing: 0) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter-spacing;

}

@mixin media-over__laptop {
  @media (max-width: 7000px){ @content;}
}

@mixin media-laptop {
  @media (max-width: $content-width){ @content;}
}

@mixin media-tablet {
  @media (max-width: 1200px){ @content;}
}

@mixin media-mobile {
  @media (max-width: 766px){ @content;}
}
