.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  margin-top: 80px;
  margin-bottom: 100px;

  &_pets{
    height: 408px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    @include media-tablet{
      flex-direction: column-reverse;
      height: 868px;
      justify-content: flex-end;
      gap: 80px;
    }
  }
  &_inner{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    margin-top: 14px;
    @include media-tablet{
      margin-top: 0;
    }
  }
  &_text{
    margin: 0;
    padding-top: 25px;
    width: 430px;
    @extend %font-arial;
    @include font(15px, 24px);
    color: $color-heading;

  }
  &_image{
    @include media-tablet{
      width: 300px;
      height: 408px;
      margin-left: 65px;
    }
  }
}

.section_container{
  width: 370px;
}

.pets_inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}