.about{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  margin-top: 80px;
  margin-bottom: 100px;

  &_pets{
    height: 408px;
    display: flex;
    flex-direction: row;
    gap: 120px;
  }
  &_inner{
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 380px;
    margin-top: 14px;
  }
  &_text{
    margin: 0;
    padding-top: 25px;
    width: 430px;
    @extend %font-arial;
    @include font(15px, 24px);
    color: $color-heading;

  }
}

.section_container{
  width: 370px;
}