.header_pets{
  position: sticky;
  top: 0;
  z-index: 10;
  background: $color-background-h2;
}

.top_layout{
  background-image:  url("/assets/images/start-screen-gradient-background.png");
  background-position: center;
  background-size: cover;
  height: 908px;
}

.header_inner{
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation{
  &_inner {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
  }
  &_link{
    text-decoration: none;
    @extend %font-arial;
    @include font(15px, 24px);
    color: $color-background-text;
    &:hover {
      color: $color-light;
    }
    &-active{
      @extend .navigation_link;
      color: $color-light;
    }

  }
}

.active{
  border-bottom: 3px solid;
  color: $color-primary;
}

.logo{
  &_title{
    @extend %font-georgia;
    @include font(32px, 110%,$letter-spacing: 0.06em);
    color: $color-primary;
    margin: 0;
    padding-bottom: 10px;
  }
  &_subtitle{
    @extend %font-arial;
    @include font(13px, 15px,$letter-spacing: 0.1em);
    color: $color-background-h2;
    margin: 0;
    text-align: center;

  }

  &_link{
    text-decoration: none;
  }
}

.pets_subtitle{
  color: $color-button;
}
.pets_title{
  color: $color-heading;
}
