.our-friends{
  background: $color-background-pets;
}

.our_friends-bckgrnd{
  background: $color-background-pets;
  height: 877px;
  @include media-mobile{
    height: 791px;
  }
}

.our-friends_inner{
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  @include media-mobile{
    margin: 0 0 42px 0;
    gap: 15px;
  }
}

.section_title{

  &-container{
    width: 400px;
    height: 90px;
    text-align: center;
    margin-top: 80px;
    @include media-mobile{
      margin-top: 42px;
    }
  }
}

.carousel {
  display: flex;
  position: relative;
  left: -990px;
  @include media-tablet{
    left: -580px;
  }
  @include media-mobile{
    left: -270px;
  }
  &_box {
    display: flex;
    flex-direction: row;
    gap: 53px;
    @include media-tablet{
      gap: 12px;

    }
    @include media-mobile{
      margin-bottom: 31.5%;
    }
  }
  &_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 435px;
    background: $color-light;
    border-radius: 9px;

  }
  &_title{
    @extend %font-georgia;
    @include font(20px, 23px, $letter-spacing: 0.06em);
    color: $color-heading;
    text-align: center;
    margin: 0;

  }

  &_pets{
    display: flex;
    flex-wrap: wrap;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    justify-content: center;
    margin-top: 60px;
  }
  &_wrapper{
    width: 990px;
    overflow: hidden;
  }
}



//pets
.pagination{
  display: flex;
  flex-direction: row;
  margin: 60px 0 100px 0;
  gap: 20px;
  &_item{
    @extend %font-georgia;
    @include font(20px, 23px,$letter-spacing: 0.06em);
    text-align: center;
    align-items: center;
  }
  @include media-mobile{
    gap: 10px;
  }
}

.margin_pets{
  padding-bottom: 30px;
  padding-top: 30px;
}

