.our_friends-bckgrnd{
  background: $color-background-pets;
  height: 877px;
}

.our-friends_inner{
  margin: 0 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.section_title{

  &-container{
    width: 400px;
    height: 90px;
    text-align: center;
    margin-top: 80px;
  }
}

.carousel {
  display: flex;
  flex-direction: row;
  gap: 90px;
  &_box {
    display: flex;
    flex-direction: row;
  }
  &_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 435px;
    background: $color-background-h2;
    border-radius: 9px;
  }
  &_title{
    @extend %font-georgia;
    @include font(20px, 23px, $letter-spacing: 0.06em);
    color: $color-heading;
    text-align: center;
    margin: 0;

  }
}