.align{
  text-align: center;
}
.width{
  width: 300px;
  @include media-mobile{
    width: 220px;
  }
}
body{
  margin: 0;
  overflow-x: hidden ;
}

:root{
  --keyframes-move-laptop: -1200px;
  --keyframes-move-tablet: 580px;
  --keyframes-move-mobile: 270px;
  --change-posititon: 0;

}

