.button{
  @extend %font-georgia;
  @include font($size:17px, $height:22.1px, $letter-spacing: 0.06em);
  padding: 15px 45px 15px 45px;
  border-radius: 100px;
  cursor: pointer;
  color: $color-button !important;
  @extend %transition;
  &_bordered {
    background: $color-light;
    border: 2px solid $color-primary;
    &:hover{
      background: $color-primary;
    }
  }
  &_colored{
    background: $color-primary;
    color: $color-button;
    border: none;
    &:hover{
      background: $color-primary-light;
    }
  }
}
.arrow {
  @extend %transition;
  @extend %font-georgia;
  @include font($size:17px, $height:22.1px);
  padding: 23px 19px 23px 19px;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  height: 52px;
  width: 52px;
  &_bordered {
    @extend .arrow;
    justify-content: center;
    cursor: pointer;
    background: $color-light;
    border: 2px solid $color-primary;
    align-items: center;
    &:hover {
      background: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }
}
.prev{
  display: flex;
  align-items: center;
  @include media-mobile{
    position: absolute;
    top: 104%;
    left: 16%;
  }
}
.next{
  display: flex;
  align-items: center;
  @include media-mobile{
    position: absolute;
    top: 104%;
    right: 16%;
  }
}